@import "tailwindcss";
@import "tw-animate-css";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@plugin "tailwind-scrollbar";

/*
  ---break---
*/
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*
  ---break---
*/

:root {
  --background: 30 100% 95%;
  --foreground: 30 5% 5%;
  --card: 30 50% 90%;
  --card-foreground: 30 5% 10%;
  --popover: 30 100% 95%;
  --popover-foreground: 30 100% 5%;
  --primary: 30 79% 19%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -8 30% 85%;
  --muted-foreground: 30 5% 35%;
  --accent: -8 30% 80%;
  --accent-foreground: 30 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 30 5% 90%;
  --border: 30 30% 50%;
  --input: 30 30% 18%;
  --ring: 30 79% 19%;
  --radius: 0.5rem;
}
.dark {
  --background: 30 50% 5%;
  --foreground: 30 5% 90%;
  --card: 30 50% 5%;
  --card-foreground: 30 5% 90%;
  --popover: 30 50% 5%;
  --popover-foreground: 30 5% 90%;
  --primary: 30 79% 19%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -8 30% 15%;
  --muted-foreground: 30 5% 60%;
  --accent: -8 30% 15%;
  --accent-foreground: 30 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 30 5% 90%;
  --border: 30 30% 18%;
  --input: 30 30% 18%;
  --ring: 30 79% 19%;
  --radius: 0.5rem;
}

/*
  ---break---
*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
